<nav class="navbar navbar-expand-lg mb-5 navbar-primary bg-white shadow">
  <ul class="navbar-nav w-100 d-flex justify-content-around">
    <li class="nav-item">
      <a class="nav-link" routerLink="/settings">
        <i class="material-icons md-36">settings</i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/leaderboard">
        <i class="material-icons md-36">poll</i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/conversations">
        <i class="material-icons md-36">view_list</i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/conversations/new">
        <i class="material-icons md-36">add</i>
      </a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
