/* You can add global styles to this file, and also import other style files */
@import 'variables';

// Bootstrap
@import 
  '_functions',
  '_variables',
  '_mixins',
  '_print',
  '_reboot',
  '_type',
  '_images',
  '_code',
  '_grid',
  '_tables',
  '_forms',
  '_buttons',
  '_transitions',
  '_dropdown',
  '_button-group',
  '_input-group',
  '_custom-forms',
  '_nav',
  '_navbar',
  '_card',
  '_breadcrumb',
  '_pagination',
  '_badge',
  '_jumbotron',
  '_alert',
  '_progress',
  '_media',
  '_list-group',
  '_close',
  '_modal',
  '_tooltip',
  '_popover',
  '_carousel',
  '_utilities';

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }


.body { background: rgba(204, 204, 204, 0.35) !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */



.pc-btn-dark {
  color: $gray-100;

  &:hover {
    color: $white;
  }
}

.pc-btn-facebook {
  @extend .pc-btn-dark;
  background-color: $blue-facebook;

  &:hover {
    background-color: darken($blue-facebook, 10%);
  }
}

.pc-btn-google {
  @extend .pc-btn-dark;
  background-color: $blue-google;

  &:hover {
    background-color: darken($blue-google, 10%);
  }
}

.pc-btn-twitter {
  @extend .pc-btn-dark;
  background-color: $blue-twitter;

  &:hover {
    background-color: darken($blue-twitter, 10%);
  }
}
  