<div class="row my-5">
  <div class="col-md-4 offset-md-4">
    <div class="card shadow">
      <div class="card-body">
        <form>
          <h1 class="mb-5 text-center">Popchat</h1>
          <button class="btn btn-lg pc-btn-facebook btn-block my-3" type="submit">Continue with Facebook</button>
          <button class="btn btn-lg pc-btn-google btn-block my-3" type="submit">Continue with Google</button>
          <button class="btn btn-lg pc-btn-twitter btn-block my-3" type="submit">Continue with Twitter</button>
          <p class="mt-5 mb-3 text-center text-muted">&copy; 2018 Popchat</p>
        </form>
      </div>
    </div>
  </div>
</div>